[Unit]
Description=Pi camera MJPEG stream for the detection bridge (tcp 8555, one client)
After=multi-user.target
[Service]
User=pi
ExecStartPre=-/usr/bin/pkill -x rpicam-vid
ExecStart=/usr/bin/rpicam-vid -t 0 --codec mjpeg --width 1280 --height 720 --framerate 30 --quality 80 --listen -o tcp://0.0.0.0:8555 -n
Restart=always
RestartSec=1
[Install]
WantedBy=multi-user.target
